.btn-main {
    position: relative;
    width: 100%;
    height: 6vh;  

    
}
.btn-config {
 position: relative;
  width: 50%;

  font-size: 15px; 
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  letter-spacing: 0.2rem;
  height: 3rem;
  border: none;
  color: white;
  cursor: pointer;

}